* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.guage {
    position: relative;
    width: 320px;
    height: 322px;
    background-color: #eff6ff;
    margin: 0 auto;
    border: 1px dashed #1d4ed8;
    border-radius: 5px;
}

.guage__center {
    position: relative;
    width: 260px;
    height: 260px;
    margin: 32px auto;
}

.guage__outer-arc {
    position: absolute;
    border: 25px solid #dbeafe;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border-bottom: 25px solid transparent;
}

.guage__outer-arc::after {
    content: "";
    position: absolute;
    top: 181px;
    right: 14px;
    border: 12.5px solid #dbeafe;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(130deg);
}

.guage__outer-overlapped-arc {
    position: absolute;
    width: 260px;
    height: 260px;
    border: 25px solid #bfdbfe;
    border-radius: 50%;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
}

.guage__outer-overlapped-arc::after {
    content: "";
    position: absolute;
    top: 181px;
    left: 14px;
    border: 12.5px solid #bfdbfe;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(49deg);
}

.guage__outer-overlapped-arc::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    border: 12.5px solid #bfdbfe;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-47deg);
}

.guage__inner-arc {
    position: absolute;
    width: 160px;
    height: 146.32px;
    left: 51px;
    top: 55px;
    border: 1px dashed #2563eb;
    border-radius: 50%;
    border-bottom: 1px solid transparent;
}

.guage__inner-arc::before {
    position: absolute;
    content: "00";
    width: 50px;
    height: 50px;
    top: 124px;
    left: 18px;
    color: #3B82F6;
}

.guage__inner-arc::after {
    position: absolute;
    content: "100";
    width: 50px;
    height: 50px;
    top: 124px;
    left: 117px;
    color: #3B82F6;
}

.guage__point {
    position: absolute;
    top: 44%;
    left: 45%;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    border: 1px dashed #2563eb;
    background-color: #bfdbfe;
}

.guage__text {
    position: absolute;
    top: 240px;
    left: 121px;
    color: #1d4ed8;
    font-size: 36px;
}


.guage__needle-container {
    position: relative;
    top: -95px;
    left: 4px;
    transform: rotate(305deg);
    transform-origin: bottom;
}


.guage__needle {
    width: 40px;
    height: 100px;
    background-color: #bfdbfe;
    -webkit-clip-path: polygon(15% 4%, 0 100%, 30% 100%);
    clip-path: polygon(15% 4%, 0 100%, 30% 100%);
    position: relative;
}


.guage__needle-base {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bfdbfe;
    bottom: -1px;
    position: absolute;
    bottom: -8px;
    left: -1px;
    border: 1px dashed #2563eb;
    border-top: 1px dashed transparent;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
}

.guage__border-1 {
    position: absolute;
    width: 30px;
    height: 95px;
    top: 0;
    transform: rotate(4deg);
    top: 4px;
    left: -26.7px;
    border-right: 1px dashed #2563eb;
}

.guage__border-2 {
    position: absolute;
    width: 30px;
    height: 95px;
    top: 0;
    transform: rotate(-3deg);
    top: 5px;
    left: -21px;
    border-right: 1px dashed #2563eb;
}

.guage__pivot-point {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 98px;
    left: 2.9px;
    background-color: #93C5FD;
    border: 1px dashed #2563EB;
}